<h2>New ingredient</h2>

<form action="/ingredients" method="post">
  <label for="ingredient[title]">Title:</label>
  <input name="ingredient[title]">



  <input type="submit" value="Create">
</form>
